@model WebApplication1.Models.StudentApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eligible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eligible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.graduationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.graduationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
